﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Customer

<form asp-controller="Home" asp-action="Create" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, new { @class = "col-sm-3 col-md-4 control-label" })
        <div class="col-sm-9 col-md-8">
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @aria_required = "true", @aria_describedby = "FirstName" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LastName, new { @class = "col-sm-3 col-md-4 control-label" })
        <div class="col-sm-9 col-md-8">
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @aria_required = "true", @aria_describedby = "LastName" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DateOfBirth, new { @class = "col-sm-3 col-md-4 control-label" })
        <div class="col-sm-9 col-md-8">
            @Html.EditorFor(model => model.DateOfBirth, new { Value = "", @class = "form-control datefield" })
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>

</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}