﻿@{
    ViewData["Title"] = "Check";
}
@model Customer
<input type="hidden" id="id" value="@Model.Id" />
<h1>Approval Status</h1>
@if(Model.Completed)
{
    <input type="hidden" id="completed" value="1" />
    <div>@Model.FirstName @Model.LastName</div>
    <label id="success">@Model.Status.ToString()</label>
}
else
{
    <input type="hidden" id="completed" value="0" />
    <div>@Model.FirstName @Model.LastName</div>
    <div id="loading">Checking!</div>
    <label id="success" style="display:none"></label>
}

@section Scripts {
    <environment names="Development">
        <script src="~/js/check.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/check.min.js" asp-append-version="true"></script>
    </environment>
}